@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 234.45 89.47% 73.92%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 40.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-balance; /* prevent single word on last line */
  }

  h1 {
    @apply text-3xl font-bold md:text-4xl;
  }

  h2 {
    @apply text-2xl font-semibold md:text-3xl;
  }

  h3 {
    @apply text-xl font-semibold md:text-2xl;
  }

  h4 {
    @apply text-lg font-medium md:text-xl;
  }

  p {
    @apply text-pretty;
  }
}

@layer components {
  .clerk-card {
    @apply border-border bg-card;
  }

  .clerk-card .cl-headerTitle {
    @apply text-foreground;
  }

  .clerk-card
    :is(
      .cl-headerSubtitle,
      .cl-dividerText,
      .cl-formFieldInfoText,
      .cl-footerActionText
    ) {
    @apply text-muted-foreground;
  }

  .clerk-card .cl-alertText {
    @apply text-foreground;
  }

  .clerk-card .cl-socialButtonsBlockButton {
    @apply bg-secondary text-secondary-foreground ring-border hover:bg-secondary/80;
  }

  .clerk-card .cl-dividerLine {
    @apply bg-border;
  }

  .clerk-card .cl-formFieldLabel {
    @apply text-foreground;
  }

  .clerk-card .cl-formFieldInput {
    @apply border-border bg-transparent text-foreground;
  }

  .clerk-card .cl-internal-b3fm6y {
    @apply hidden;
  }
}

@layer utilities {
  .logo-gradient {
    @apply bg-gradient-to-r from-indigo-500 to-cyan-500;
  }

  .logo-gradient-dark {
    @apply bg-gradient-to-r from-indigo-400 to-cyan-400;
  }

  .bg-graph {
    @apply bg-accent bg-[url(/paper.svg)] dark:bg-[url(/paper-dark.svg)];
  }
}
